/* You can add global styles to this file, and also import other style files */
html{
    margin: 1rem;
}
.alert-warning.todo-exists-alert {
    width: 35%;
}
input.todo-exists {
    background-color: #FFECB3;
}
.mydp {
    max-width: 15%;
    margin: -13px auto;
}
